<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="icon" href="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/Arabic_Che.gif/1200px-Arabic_Che.gif" type="image/x-icon">
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
              <li><a href="/tutoring">Tutoring</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:crao@mit.edu">email</a></li>
	        		<li><a href="https://github.com/crrao">github.com/crrao</a></li>
				</ul>
			</footer>
		</body>
	</html>
